@charset "utf-8";

html{
  font-size: 100%;
}

img{
  max-width: 100%;
}

body{
  font-family: "Helvetica neue", Arial, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  line-height: 1.7;
  margin: 0 20px;
  background-color: #eee;
}

a{
  text-decoration: none;
}

#container{
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
}

/*header-----------------------------------------------------------*/

.focus_logo{
   width: 250px;
   margin-left: 20px;
}

.navi {
  display: flex;
  margin: 28px 20px 13px 0;
  height: 20px;

}

.navi li{
  display: flex;
  margin-left: 30px;
  font-family: 'Archivo Narrow', sans-serif;

}

.navi a{
  color: #ddd;
}

.navi a:hover{
  color: #333;
}

.header-logo{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;

}

.border{
  border-bottom: 30px solid #eee;
}

/*home--------------------------------------------------------------*/


/*.home-content{
  text-align: center;
  margin-top: 10%;
}

.home-content h2{
  margin: 0 0 10px 0;
}


/*about us----------------------------------------------------------*/

.all_1{
  width: 90%;
}

.all{
  margin-top: 5%;
  text-align: center;
}

.what_is{
  padding: 0 150px 80px 150px;
  border-bottom: 2px solid #ddd;
}

.what_is h1{
  margin-top: 80px;
  color: #777;
}

.what_is p{
  margin: 30px 0 0 0;
  color: #aaa;
}

.what_is h8{
  margin: 0 20px 0 0;
  color: #aaa;
}

.Recruit{
  margin: 50px 30px;
  text-align: center;
}


/*scheduel----------------------------------------------------------------*/

.THEFOCUS2020{

}

.THEFOCUS20202{
  width: 100%;
}


/*staff------------------------------------------------------------*/

.techniical{
  text-align: center;
}

.techniical p{
  padding: 20px 0 10px 0;
  color: #aaa;
}

.techniical h1{
  padding: 100px 0 0 0;
  color: #777;
}

.techniical h2{
  padding: 0 0 30px 0;
  color: #777;
}

.executive{
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.executive p{
  padding: 20px 0 10px 0;
  color: #aaa;
}

.executive h2{
  padding: 0 0 100px 0;
  color: #777;
}

.TE{
  padding: 70px 0 20px 0;
}

.techniical a{
  color: #777;
}

.techniical a:hover{
  color: #ccc;
}
/*twitter------------------------------------------------------------*/

.twitter1{
text-align: center;
 margin: 100px 0;
}


/*Contact------------------------------------------------------------*/

.top{
  margin: 80px 0 120px 0;
}

input[type="text"]{
  background: rgba(243,243,243);
  border: solid 1px #ddd;
  border-radius: 3px;
}
input[type="email"]{
  background: rgba(243,243,243);
  border: solid 1px #ddd;
  border-radius: 3px;
  width: 300px;
}
input[type="radio"]{
 margin-left: s0px;
}
textarea{
  background:rgba(243,243,243);
  border: solid 1px #ddd;
  border-radius: 3px;
  width: 300px;
  height: 120px;
}

input[type="submit"]{
  background: #222;
  border-radius: 3px;
  width: 60px;
  height: 40px;
  color: #fff;
}

input[type="submit"].hover{
  background: #fff;
  border-radius: 3px;
  width: 60px;
  height: 40px;
  color: #fff;
}


/*footer------------------------------------------------------------*/
.footer{
  text-align: center;
  padding: 30px 0;
}
